QWidget
{
    font-size: 16px;
    color: white;
    font-family: Montserrat;
}

QMainWindow
{
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0.47 green, stop:0.5 gray, stop:0.53 black);
}

QPushButton
{
    padding: 0 15px;
    height: 3em;
    min-width: 10em;
    background: rgba(16, 159, 24, 0.6);
    border: 5px solid #d4d4d4;
    border-bottom-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
    border-top-left-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
}

QPushButton:hover
{
    background: rgba(16, 159, 24, 0.8);
}

QMessageBox
{
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0.47 green, stop:0.5 gray, stop:0.53 black);
}

QMessageBox QPushButton, CheckClient QPushButton, AddClient QPushButton, SearchClient QPushButton
{
    height: 1.5em;
    min-width: 3em;
}

CheckClient QPushButton, AddClient QPushButton, SearchClient QPushButton
{
    height: 1.5em;
    min-width: 7em;
}

QLineEdit, QDateEdit
{
    color: black;
}
